---
title: About Your Page
layout: index.njk
---

<div class="container">
    <h1>About Your Page</h1>
    <p>This page is generated using a Static Site Generator
    I am soo excited about this</p>
</div>